*

!.gitignore
!00-downloadInitialDataset.sh
!01-formatIncGroupFastaHeaders.sh
!02-makeIncompatibilityBlastDB.sh
!03-splitMultiGBs.sh
!04-extractOriginSeqFromGBsToFastas.sh
!05-extractGroupLists.sh
!06-blastIncompatibility.sh
!07-subCovCutoff60.sh
!08-addFamilyColumn.sh
!09-filterBestMatches.sh
!10-extractIncompatibilityFamilies.sh
!11-extractSeqTech.sh
!12-extractSourceInfo.sh
!13-extractPlasmidSearchRegions.sh
!14-identifyPlasmidMatches.sh
!15-summarizePlasmidMatches.sh
!16-dropPlasmids.sh
!17-makePlasmidBlastDB.sh
!18-blastPlasmid.sh
!19-extractIdenticalPlasmidsAtQueryAndSubCovCutoff98.sh
!20-fixIdenticalPlasmidNonConcordance.sh
!21-generatePlasmidCSVs.sh
!22-createGroupCSVsFromPlasmidCSVs.sh
!23-createGroupMatchesFromPlasmidMatches.sh
!24-calcGroupCSVstats.sh
!25-createDistMatrix.sh
!26-createDistTree.sh
!27-addTreeLeafLabels.sh
!28-convertNewick2NexusAndAddColor.sh
!addFamCol.awk
!blast.sh
!blastPlasmids.sh
!calcGroupCSVstats.py
!convertNewick2NexusAndAddColor.py
!eValueHist.R
!eValueHist.sh
!extractGroupLists.awk
!extractOriginSeqFromGBtoFasta.awk
!extractPlasmidSearchRegions.py
!filterBestResults.py
!fixIdenticalPlasmidsNonConcordance.py
!formatIncGroupFasta.awk
!generatePlasmidCSV.py
!identifyPlasmidMatches.py
!modifyLeafLabels.py
!queryAndSubCovCutoff98-multiHit.py
!sequesterSeqTech.awk
!snagSourceInfo.awk
!splitMultiGB.awk
!subCovCutoff60.awk
!summarizePlasmidMatchInfo.py
