*

!.gitignore
!00-formatIncGroupFastaHeaders.sh
!01-makeIncompatibilityBlastDB.sh
!02-splitMultiGBs.sh
!03-extractOriginSeqFromGBsToFastas.sh
!04-extractGroupLists.sh
!05-blastIncompatibility.sh
!06-subCovCutoff60.sh
!07-addFamilyColumn.sh
!08-filterBestMatches.sh
!09-extractIncompatibilityFamilies.sh
!10-extractPlasmidSearchRegions.sh
!11-identifyPlasmidMatches.sh
!12-generatePlasmidCSVs.sh
!13-createGroupCSVsFromPlasmidCSVs.sh
!14-createGroupMatchesFromPlasmidMatches.sh
!15-calcGroupCSVstats.sh
!addFamCol.awk
!blast.sh
!calcGroupCSVstats.py
!eValueHist.R
!eValueHist.sh
!extractGroupLists.awk
!extractOriginSeqFromGBtoFasta.awk
!extractPlasmidSearchRegions.py
!filterBestResults.py
!formatIncGroupFasta.awk
!generatePlasmidCSV.py
!identifyPlasmidMatches.py
!splitMultiGB.awk
!subCovCutoff60.awk
