*

!.gitignore
!01-formatIncGroupFastaHeaders.sh
!02-makeIncompatibilityBlastDB.sh
!03-splitMultiGBs.sh
!04-extractOriginSeqFromGBsToFastas.sh
!05-extractGroupLists.sh
!06-blastIncompatibility.sh
!07-subCovCutoff60.sh
!08-addFamilyColumn.sh
!09-filterBestMatches.sh
!10-extractIncompatibilityFamilies.sh
!11-extractSeqTech.sh
!12-extractSourceInfo.sh
!13-extractPlasmidSearchRegions.sh
!14-identifyPlasmidMatches.sh
!15-dropPlasmids.sh
!16-makePlasmidBlastDB.sh
!17-blastPlasmid.sh
!18-extractIdenticalPlasmidsAtQueryAndSubCovCutoff98.sh
!19-fixIdenticalPlasmidNonConcordance.sh
!20-generatePlasmidCSVs.sh
!21-createGroupCSVsFromPlasmidCSVs.sh
!22-createGroupMatchesFromPlasmidMatches.sh
!23-calcGroupCSVstats.sh
!24-createDistMatrix.sh
!25-createDistTree.sh
!26-addTreeLeafLabels.sh
!addFamCol.awk
!blast.sh
!blastPlasmids.sh
!calcGroupCSVstats.py
!eValueHist.R
!eValueHist.sh
!extractGroupLists.awk
!extractOriginSeqFromGBtoFasta.awk
!extractPlasmidSearchRegions.py
!filterBestResults.py
!fixIdenticalPlasmidsNonConcordance.py
!formatIncGroupFasta.awk
!generatePlasmidCSV.py
!identifyPlasmidMatches.py
!modifyLeafLabels.py
!queryAndSubCovCutoff98-multiHit.py
!sequesterSeqTech.awk
!snagSourceInfo.awk
!splitMultiGB.awk
!subCovCutoff60.awk
